<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header class="header">
    <div class="container">
      <h1 class="main-tittle">
        ЭКСКУРСИИ В ТУРЦИИ <span class="yellow_text"> АНТАЛИЯ - KEMER </span>Ginza Travel
      </h1>
    </div>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list-item">
          <a href="" class="nav__link">
            ГЛАВНАЯ
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            О нас
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Из Кемера
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Аренда Яхты
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Аренда Авто
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Трансферы
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Vip экскурсии
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Шоппинг
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Аренда виллы
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Медицина
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Отзывы
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Контакты
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            FAQ
          </a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__link">
            Блог
          </a>
        </li>
      </ul>
    </nav>

  </header>

  <section class="region">
    <h2 class="region__tittle">ВЫБЕРИТЕ ВАШ РЕГИОН</h2>
    <div id="carouselExample" class="carousel slide region__carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/region_1.jpg' %}" class="d-block w-100 carouserl__img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/region_2.webp' %}" class="d-block w-100 carouserl__img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/region_3.jpg' %}" class="d-block w-100 carouserl__img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/region_4.jpg' %}" class="d-block w-100 carouserl__img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/region_5.webp' %}" class="d-block w-100 carouserl__img" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="orders">
    <div class="container">
      <div class="cards">
        {% for card in cards %}
        <div class="card my_card">
          <a href="#" class="card__link">
            <img src="{{ card.image.url }}" class="card-img-top card__img" alt="">
            <div class="card-body">
              <p class="card-text">{{ card.description }}</p>
              <p class="card-text card__price">{{ card.price }} $</p>
            </div>
          </a>
        </div>
        {% endfor %}
<!--        <div class="card my_card">-->
<!--          <a href="" class="card__link">-->
<!--            <img src="{% static 'img/some_img.jfif' %}" class="card-img-top card__img" alt="...">-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--                content.</p>-->
<!--              <p class="card-text card__price">250$</p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="card my_card">-->
<!--          <a href="" class="card__link">-->
<!--            <img src="{% static 'img/some_img.jfif' %}" class="card-img-top card__img" alt="...">-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--                content.</p>-->
<!--              <p class="card-text card__price">250$</p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="card my_card">-->
<!--          <a href="" class="card__link">-->
<!--            <img src="{% static 'img/some_img.jfif' %}" class="card-img-top card__img" alt="...">-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--                content.</p>-->
<!--              <p class="card-text card__price">250$</p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="card my_card">-->
<!--          <a href="" class="card__link">-->
<!--            <img src="{% static 'img/some_img.jfif' %}" class="card-img-top card__img" alt="...">-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--                content.</p>-->
<!--              <p class="card-text card__price">250$</p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="flex">
        <div class="footer__nav">
          <h3 class="footer__title">ВАШ РЕГИОН</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="" class="footer__link">
                Кемер
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Анталия
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Белек
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Сиде
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Алания
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Мармарис
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__nav">
          <h3 class="footer__title">НАШИ УСЛУГИ</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="" class="footer__link">
                Экскурсии
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Аренда яхты
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Аренда авто
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Индивидуальные Экскурсии
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Шоппинг
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Аренда вилл в Бодруме
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Медицина в Турции
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__nav">
          <h3 class="footer__title">ПОДДЕРЖКА</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="" class="footer__link">
                О нас
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Контакты
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Отзывы наших клиентов
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Часто задаваемые вопросы
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                Политика конфиденциальности
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__nav">
          <h3 class="footer__title">ФОРМА ЗАЯВКИ</h3>
          <form action="" class="">
            <div class="footer__form flex">
              <div>
                <input type="text" class="form-control form__input" placeholder="Телефон (с кодом страны)">
                <input type="text" class="form-control form__input" placeholder="Имя">
                <input type="date" class="form-control form__input">
                <input type="email" class="form-control form__input" placeholder="Эл. почта">
                <input type="text" class="form-control form__input" placeholder="Название отеля / Номер комнаты">
                <input type="text" class="form-control form__input" placeholder="Экскурсия">
                <input type="text" class="form-control form__input" placeholder="Кол-во взрослых">
                <input type="text" class="form-control form__input" placeholder="Дети 0-6 лет">
                <input type="text" class="form-control form__input" placeholder="Дети 7-11 лет">
              </div>
              <div>
                <textarea class="form-control form__textarea" rows="3" placeholder="Ваше сообщение"></textarea>
              </div>
            </div>
            <button class="btn btn-warning form__button" type="submit">Отправить заявку</button>
          </form>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
